<html lang="ko">
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/68abb170e0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="todo1.css">
  <style> ul { list-style-type: none; } </style>
</head>
<body>
  <div id="app">
    <h1>할 일</h1>
    <ul>
      <li v-for="(todo, index) in todoMap"  >
        <input type="checkbox" v-model="checked[index]" />
        {{ todo }}
      </li>
    </ul>
    <input type="text" v-model.trim="todo" />
    <button type="button" v-on:click="save"  v-bind:disabled="!todo" >추가</button>
    <button type="button" v-on:click="remove" v-show="checkedCount > 0" > 삭제</button>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        todoMap: {},
        todo: {},
        checked: [],
        showDialog: false,
        selectedKey: null

      },computed: {
        checkedCount: function() {
          let count = 0;
          for (let i = 0; i < this.checked.length; ++i)
            if (this.checked[i]) ++count;
          return count;
        }
      },
      methods: {
        reload: function() {
          axios.get('https://skhu-jhj.firebaseio.com/todo1.json')
               .then(response => this.todoMap = response.data);
        },save: function() {
          axios.post('https://skhu-jhj.firebaseio.com/todo1.json', this.todo)
                 .then(response => this.reload());
          this.showDialog = false;
          this.todo = {};
          
        },remove: function() {
          if (confirm("삭제하시겠습니까?") == false) return;
          axios.delete('https://skhu-jhj.firebaseio.com/todo1/' + this.todo + '.json')
                 .then(response => this.reload());
          this.showDialog = false;
          
        },
        edit: function(key) {
          this.showDialog = "수정";
          this.todo = Object.assign({}, this.todoMap[key]);
          this.selectedKey = key;
        }
      }
    })

    window.onload = function() {
    app.reload();
    }
   </script>
</body>
</html>
